<div *ngIf="loadingData" class="text-center">
  <i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>

<section *ngIf="!loadingData">

  <div class="row">
    <div class="col-md-12">
      Filters & Search
    </div>
  </div>

  <br>

  <div class="row" *ngFor="let pokemon of pokemons;let idx = index">
    <div class="col-md-4" *ngIf="idx%3===0 && pokemon">
      <app-pokemon-card [pokemon]="pokemons[idx]"></app-pokemon-card>
    </div>
    <div class="col-md-4" *ngIf="idx%3===0 && pokemons[idx+1]">
      <app-pokemon-card [pokemon]="pokemons[idx+1]"></app-pokemon-card>
    </div>
    <div class="col-md-4" *ngIf="idx%3===0 && pokemons[idx+2]">
      <app-pokemon-card [pokemon]="pokemons[idx+2]"></app-pokemon-card>
    </div>
  </div>

</section>
