<div *ngIf="loadingData" class="text-center">
  <i class="fa fa-spinner fa-pulse fa-2x"></i>
</div>

<table *ngIf="!loadingData" class="table table-bordered table-hover">

  <thead>
    <tr>
      <th>Image</th>
      <th>ID</th>
      <th>English Name</th>
      <th>Type(s)</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pokemon of pokemons">
      <td><img class="img-responsive image-thm" src="/images/thm/{{pokemon.id}}{{pokemon.flatName ? pokemon.flatName : pokemon.ename}}.png"></td>
      <td>{{pokemon.id}}</td>
      <td>{{pokemon.ename}}</td>
      <td><span *ngFor="let type of pokemon.etype" class="type-box">{{type}}</span></td>
    </tr>
  </tbody>

</table>
